<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">

<footer>
  <div class="footer-links">
    <a href="mailto:mark@sfconfectionery.com">
      <i class="fas fa-envelope"></i>Email</a>
    <a href="tel:+44 01372 734 070">
      <i class="fas fa-phone"></i>Phone</a>
  </div>
  <p class="mobile-hide">Felix House, 85 East Street, Epsom, Surrey, KT17 1DT, UK</p>


  <div class="copyright">
    <p>&copy;2018. S&F Confectionery Ltd. All Rights Reserved</p>
  </div>
</footer>