<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>

<header>
  <div class="header">
    <div class="hamburger desktop-hide">
        <div class="burger"><i class="fas fa-bars"></i></div>
        <div class="close"><i class="fas fa-times"></i></div>
    </div>
  
  <a href="/"><img src="/img/logo.png" id="logo"/></a>
  <a href="/"><h1 class="mobile-hide">S&F Confectionery Ltd</h1></a>
</div>   

  <nav class="navigation">
    <a href="/about.html">ABOUT</a>
    <a href="/products.html">PRODUCTS</a>
    <a href="/private-label.html">PRIVATE LABEL</a>
    <a href="/contact.html">CONTACT</a>
  </nav>
</header>

<script src="/js/scripts.js" type="text/javascript" charset="utf-8"></script>