/***********************************
GENERAL
***********************************/
* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  min-height: 100% !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration:none;
  color: #135176;
  cursor: pointer;
}



  /***********************************
  HOVERS
  ***********************************/

  .brands img:hover {
    opacity: .5
  }

  #products li:hover {
    border: 1px solid rgba(0,0,0, .2);

  }

  #products-brandpage li:hover {
    border: 1px solid rgba(0,0,0, .2);
  }

  .navigation a:hover {
    background-color: rgba(250,250,250, .1);
    border-radius: 3px;
  }

  footer li:hover {
    border-bottom: 1px solid #135176;
  }


/***********************************
HEADER + NAVIGATION
***********************************/
.header h1 {
  font: 400 1.5em/1 'EB Garamond', serif;
  margin: 0;
  padding: 5px;
  color: white;
  letter-spacing: 2px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 900;
  width: 100%;
  height: 80px;
  background: #137EC0;
  border-bottom: 2px solid #F279AF;
}

.hamburger {
  z-index: 999;
}

.hamburger > div {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  color: white;
}

.close {
  display: none;
}


#logo {
  width: 50px;
}

.navigation {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #fff;
  z-index: 800;
  overflow: hidden;
}

.navigation a {
  padding: 10px;
  margin: 10px auto;
  font: bold 1rem/1 'Open Sans', sans-serif;
  text-align: left;
}

.navigation-flex {
  display: flex !important;
}

/***********************************
BODY
***********************************/
#wrapper {
  display: block;
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
}



/***********************************
PAGE: HOMEPAGE
***********************************/
.background {
  width: 100%;
  margin: 0;
}

.index-homepage {
  background: url(../img/homepage-copy.jpg) center no-repeat;
  width: 100%;
  height: calc(100vh - 100px);
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
}

.background h1 {
  display: none;
}

.background h2 {
  font: 300 1.3em/1.5 'EB Garamond', sans-serif;
  letter-spacing: 1.2px;
  color: #666;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  text-align: center;
}

.brands {
  max-width: 100%;
  list-style-type: none;
  text-align: center;color: #135176;
  font: 300 2em/1.5 'EB Garamond', serif;
  padding: 25px 0 110px;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.brands ul {
  padding: 0;
}

.brands li {
  width: 100%;
  max-width: 100%;
  list-style-type: none;
}

.brands img {
  width: 150px;
  max-width: 100%;
  padding: 20px 0;
}


/*****************************************************************************
INFO TEXT / ABOUT, PRODUCTS, PRIVATE LABEL, CONTACT, TERMS, LOGISTICS
*****************************************************************************/

.top-text {
  max-width: 100%;
  margin: 40px 10px 25px 10px;
  padding: 0;
  text-align: left;color:#4A4A4A;

  font: 300 1.5em/1 'Open Sans', serif;
}

#second-text {
  max-width: 100%;
  margin: 20px 10px 0;
  padding: 0;
  text-align: left;
  text-align: left;color:#4A4A4A;
  font: 200 .9em/1.7 'Open Sans', serif;
}

.second-text {
  max-width: 100%;
  margin: 20px 10px 0;
  padding: 0;
  text-align: left;
  text-align: left;color:#4A4A4A;
  font: 200 .9em/1.7 'Open Sans', serif;
}

.about-second-text {
  margin-bottom: 0;
  padding-bottom: 150px;
}

#second-text a {
 font-weight: bolder;
}

#second-text p {
  margin: 20px 0;
  padding: 0;
}

#second-text li {
  list-style: circle;
  font-weight: bolder;
}

#second-text h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}


/***********************************
PAGE: PRODUCTS
***********************************/


#products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  padding-bottom: 150px;
}

#products li {
  width: 45%;
  margin: 5px;
  padding-top: 10px;

  text-align: center;

  border: 1px solid rgba(0,0,0, .1);
}

.company-logo {
  clear:both;

  width: 50%;
  max-width: 100%;
  padding: 10px;
}


/***********************************
PAGE: BRAND PAGE
***********************************/

.company-page {
  width: 200px;
  max-width: 100%;
  margin: 20px auto;
}

#products-brandpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 120px;
  list-style: none;
}

#products-brandpage li {
  /* float:left; */
  width: 45%;
  margin: 2.5%;
  text-align: center;color:#333333;
  font: bold 1em/1 'Open Sans', serif;
  border: 1px solid rgba(0,0,0, .1);
  padding: 5px;
  cursor: pointer;
}

#products-brandpage h6 {
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;color:#135176;
  font: 400 .9em/1.3 'Open Sans', serif;
}

#products-brandpage p {
  margin: 10px;

  text-align: left;color:#333333;

  font: 200 .8em/1.2 'Open Sans', serif;
}

.menu ul {
  display: block;
  margin: 20px 0px 0 10px;
  padding: 0;
  text-align: left;
}

.menu li {
  display: inline;color:#135176;
  font: 400 .8em/1 'Open Sans', serif;
}

.menu li + li:before{
  padding: 0 10px;

  content: " > ";

  color: #135176;
}

.menu li:first-child:before {
  content: none;
}


/***********************************
PAGE: SINGLE ITEM
***********************************/


.menu-product ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 10px;
  text-align: left;
}

div.menu-product li {
  color:#135176;
  margin: 0;
  font: 400 .8em/24px 'Open Sans', serif;
  list-style-type: none;
}

div.menu-product li + li:before{
  padding: 0 10px;

  content: " > ";

  color: #135176;
}

div.menu-product li:first-child:before {
  content: none;
}

.product-text-top h1 {
  display: block;

  width: 500px;
  max-width: 100%;
  margin: 15px auto;
  margin-top: 40px;
  padding-left: 10px;

  text-align: left;color:#333;

  font: 400 1em/1 'Open Sans', serif;
}

.product-text-top h5 {
  display: block;

  width: 500px;
  max-width: 100%;
  margin: 10px auto;
  padding-left: 10px;

  text-align: left;color:#135176;

  font: 400 1.5em/1 'Open Sans', serif;
}

.product-text-top p {
  display: block;

  width: 500px;
  max-width: 100%;
  margin: 15px auto;
  padding-left: 10px;

  text-align: left;color:#333333;

  font: 400 1em/.9 'Open Sans', serif;
}

.product-photo img {
  display: block;

  width: 50%;
  max-width: 100%;
  margin: 15px auto;
  padding: 0;
}

/* Image Border */
.container {
  display: block;

  width: 500px;
  max-width: 100%;
  margin:0 auto;color:#333333;color:#333333;
  border-top: 1px solid rgba(0,0,0, .2);
  border-bottom: 1px solid rgba(0,0,0, .2);
}

.product-text-bottom {
  padding-bottom: 150px;
}

.product-text-bottom h5 {
  display: block;

  width: 500px;
  max-width: 100%;
  margin: 5px auto;
  padding-left: 10px;

  text-align: left;color:#135176;

  font: normal 400 .9em/2 'Open Sans', serif;
}

.product-text-bottom p {
  display: block;

  width: 500px;
  max-width: 100%;
  margin: 2px auto;
  padding-left: 10px;

  text-align: left;color:#333333;

  font: 200 .8em/1.5 'Open Sans', serif;
}

.product-text-bottom p b {color:#135176;

  font: 400 1em/1.5 'Open Sans', serif;
}

.product-text-bottom span {
  display:block;

  margin-top: 20px;
}



/***********************************
PAGE: PRIVATE LABEL
***********************************/

.private-label {
  display: block;

  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 150px;
}



/***********************************
PAGE: CONTACT
***********************************/


#primary {
  display: block;

  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;color:#4A4A4A;

  font: 100 .9em/1 'Open Sans', serif;
}


#primary span {
  display: block;

  margin-left: 35px;color:#4A4A4A;

  font: 100 .9em/1 'Open Sans', serif;
}

#primary img {
  display: inline-block;

  width: 20px;
  margin: 5px 10px -5px 0;
}



/***********************************
FOOTER
***********************************/
/* .push {
  height: 170px;
  text-align: center;
} */

footer {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  background: #137EC0;
  text-align: center;
}

.footer-links {
  padding: 20px 0;
}
.footer-links i {
  padding-right: 10px;
}
footer p {
  padding: 10px 0 15px;
  margin: 0 auto;
  color: white;
  font: 200 .8rem/1 'Open Sans', sans-serif;
}
.footer-links a {
  background-color: rgba(250,250,250, .1);
  border-radius: 3px;
  margin: 20px;
  padding: 7px 15px;
  color: white;
  font: bold .8rem/1 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.copyright {
  text-align: center;
  background-color: #0e6aa3;
  font: 300 .7em/20px 'Open Sans', sans-serif;
}
.copyright p {
  padding: 20px 0;
}



/***********************************
HIDE
***********************************/

.mobile-hide {
  display: none;
}